
<div class="container">
    <input type="text" #childCtrl 
        (keyup)="onKeyup(childCtrl.value)">
</div>

<ng-content select="header"></ng-content>
<ng-content select=".section"></ng-content>

<div class="container">
    Welcome to {{ title }}!
</div>

<div class="container">
<ul class="list-unstyled">
<li class="well" *ngFor="let user of users; index as i; first as isFirst; even as isEven; odd as isOdd">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ i }}
            <br>
            isEven : {{ isEven }}
            <img [src]="user.image" class="img-responsive img-circle">
            <button class="btn btn-info btn-sm" 
                (click)="moreInfo(user)">More Info</button>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            <h1 app-highlight [myColor]="newColor">{{ user.firstName }} {{ user.lastName }}</h1>
            <!-- <p [ngClass]="{'myBorder' : isEven, 'myTransform' : isOdd}">
                Date of Birth : {{ user.dob}}</p> -->
            <p [ngClass]="myClasses">
                Date of Birth : {{ user.dob}}</p>
            <p *ngIf="user.isWorking; else elseTemplate">Income  : {{ user.income }}</p>
            <em class="pull-right">
                Total Votes : {{ user.vote }}
                <!-- <input type="number" 
                    [value]="user.vote"
                    (change)="user.vote=$event.target.value"> -->
                <input type="number" [(ngModel)]="user.vote">
            </em>
        </div>
    </div>
    <ng-template #elseTemplate>
        {{ user.firstName }} is not working now!
    </ng-template>
</li>
</ul>
</div>


<ng-content select="footer"></ng-content>